body {
    background-color:aliceblue;
}

#clock {
    font-size: 100px;
    margin-left: 400px;
    margin-top: 200px;
    background-color: black;
    border: 2px solid yellow;
    width: 540px;
    color: white;
    position: relative;
}

h1 {
    position: absolute;
    left: 416px;
    top: 109px;
    font-size: 45px;
    color: red;
}

h1 .one {
    color: Black;
}

h1 .two {
    color: red;
}

h1 .three {
    color: rgb(255, 217, 4);
}